<br>
<div class="grid grid-cols-5 gap-3">
    <p></p>
    <p></p>
    <div class="col-span-1 text-center">
        <form #autorForm="ngForm" (ngSubmit)="submitForm(autorForm)">
            <h1 class="dark:text-black uppercase">Agregar Autor</h1>
            <div class="grid gap-6 mb-2 md:grid-cols-1">
                <p></p>
                <div>
                    <input type="text" name="id" [ngModel]="autorService.selectAutor.id" class="hidden" required>
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">Nombre:</label>
                    <input name="nombre" type="text" [ngModel]="autorService.selectAutor.nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Agregue un autor..." required>
                    <div *ngIf="autorForm.controls['nombre'].invalid && (autorForm.controls['nombre'].dirty || autorForm.controls['nombre'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">El nombre es obligatorio</span>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
            <div class="grid grid-cols-2 gap-5">
                <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-1 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Guardar Autor</button>
                <button routerLink="/Autores" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Regresar</button>
            </div>
        </form>
    </div>
    <p></p>
    <p></p>
</div>
