<br> 
<div class="grid grid-cols-5 gap-3">
    <p></p>
    <p></p>
    <div class="col-span-1 text-center">
        <form #autorForm="ngForm" (ngSubmit)="submitForm(autorForm)">
            <h1 class="dark:text-black uppercase">Libro</h1>
            <div class="grid gap-6 mb-2 md:grid-cols-1">
                <p></p>
                <div>
                    <input type="text" name="id" [ngModel]="libroService.selectLibro.id" class="hidden" required>
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">Nombre:</label>
                    <input name="nombre" type="text" [ngModel]="libroService.selectLibro.nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Agregue un autor..." required>
                    <div *ngIf="autorForm.controls['nombre'].invalid && (autorForm.controls['nombre'].dirty || autorForm.controls['nombre'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">El nombre es obligatorio</span>
                        </div>
                    </div>
                    <label for="ISBN" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">ISBN:</label>
                    <input name="ISBN" type="number" [ngModel]="libroService.selectLibro.ISBN" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Agregue un autor..." required>
                    <div *ngIf="autorForm.controls['ISBN'].invalid && (autorForm.controls['ISBN'].dirty || autorForm.controls['ISBN'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">El ISBN es obligatorio</span>
                        </div>
                    </div>
                    <label for="fecha_de_creacion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">Fecha de creacion:</label>
                    <input name="fecha_de_creacion" type="date" [ngModel]="libroService.selectLibro.fecha_de_creacion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Agregue un autor..." required>
                    <div *ngIf="autorForm.controls['fecha_de_creacion'].invalid && (autorForm.controls['fecha_de_creacion'].dirty || autorForm.controls['fecha_de_creacion'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">La fecha es Obligatoria</span>
                        </div>
                    </div>
                    <label for="autor_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">Autor:</label>
                    <select [ngModel]="libroService.selectLibro.ai" name="autor_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let autor of autores" [value]="autor.id">{{autor.nombre}}</option>
                    </select>
                    <div *ngIf="autorForm.controls['autor_id'].invalid && (autorForm.controls['autor_id'].dirty || autorForm.controls['autor_id'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">El nombre es obligatorio</span>
                        </div>
                    </div>
                    <label for="categoria_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">Categoria:</label>
                    <select [ngModel]="libroService.selectLibro.ci" name="categoria_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.categoria}}</option>
                    </select>
                    <div *ngIf="autorForm.controls['categoria_id'].invalid && (autorForm.controls['categoria_id'].dirty || autorForm.controls['categoria_id'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">El nombre es obligatorio</span>
                        </div>
                    </div>
                    <label for="editorial_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">Editorial:</label>
                    <select name="editorial_id" [ngModel]="libroService.selectLibro.ei" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option *ngFor="let editorial of editoriales" [value]="editorial.id">{{editorial.nombre}}</option>
                    </select>
                    <div *ngIf="autorForm.controls['editorial_id'].invalid && (autorForm.controls['editorial_id'].dirty || autorForm.controls['editorial_id'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">El nombre es obligatorio</span>
                        </div>
                    </div>
                    <label for="paginas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">Paginas:</label>
                    <input name="paginas" type="number" [ngModel]="libroService.selectLibro.paginas" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Agregue un autor..." required>
                    <div *ngIf="autorForm.controls['paginas'].invalid && (autorForm.controls['paginas'].dirty || autorForm.controls['paginas'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">El nombre es obligatorio</span>
                        </div>
                    </div>
                    <label for="descripcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black text-left">Descripcion:</label>
                    <input name="descripcion" type="text" [ngModel]="libroService.selectLibro.descripcion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Agregue un autor..." required>
                    <div *ngIf="autorForm.controls['descripcion'].invalid && (autorForm.controls['descripcion'].dirty || autorForm.controls['descripcion'].touched)" class="text-red-500">
                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">El nombre es obligatorio</span>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
            <div class="grid grid-cols-2 gap-5">
                <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-1 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Guardar Autor</button>
                <button (click)="regresar(autorForm)" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Regresar</button>
            </div>
        </form>
    </div>
    <p></p>
    <p></p>
</div>
<br>