<nav class="bg-gray-800">
  <div class="mx-auto max-w-8xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-12 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a routerLink="Home" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Menu</a>

            <a *ngIf="isSessionActive()" routerLink="Libros" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Libros</a>

            <a *ngIf="isSessionActive()" routerLink="Idiomas" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Idiomas</a>

            <a *ngIf="isSessionActive()" routerLink="Editoriales" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Editoriales</a>

            <a *ngIf="isSessionActive()" routerLink="Autores" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Autores</a>

            <a *ngIf="isSessionActive()" routerLink="Categorias" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Categorias</a>

            <a *ngIf="userType == '1' && isSessionActive()" routerLink="Usuarios" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Usuarios</a>            

            <a *ngIf="!isSessionActive()" routerLink="Entrar" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Entrar</a>

            <a *ngIf="!isSessionActive()" routerLink="Registrar" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Registrar</a>

            <a *ngIf="isSessionActive()"  (click)="AgregarSalir()" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Salir</a>

            <a *ngIf="isSessionActive()" class="bg-gray-900 text-white px-40 py-2 rounded-md text-sm font-medium" aria-current="page">Hola {{userName}}</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>