<br>
<div class="grid grid-cols-12 gap-6">
    <p></p>
    <div class="col-span-3 text-center">
        <form [formGroup]="form" (click)="Agregar(form.value)">
            <h1 class="dark:text-black uppercase">Agregar Autor</h1>
            <div class="grid gap-6 mb-2 md:grid-cols-1">
                <p></p>
                <div>
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Autor</label>
                    <input type="text" formControlName="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Agregue un autor..." required>
                </div>
                <p></p>
            </div>
            <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Agregar Autor</button>
        </form>
    </div>
    <p></p>
    <div class="col-span-6">
        <div class="relative overflow-x-auto align-center" [style.height.px]="500">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            NOMBRE
                        </th>
                        <th class="px-6 py-4">
                            
                        </th>
                        <th class="px-6 py-4">
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let autor of autores" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{autor.id}}
                        </th>
                        <td class="px-6 py-4">
                            {{autor.nombre}}
                        </td>
                        <td class="px-6 py-4">
                            <button (click)="Eliminar( autor )" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">Editar</button>
                        </td>
                        <td class="px-6 py-4">
                            <button class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Editar</button>           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p></p>
</div>